@import '../vendors/komika-title/_kamika-title';
@import '../vendors/opensans_bold/_open-sans-bold';
@import '../vendors/opensans_regular/_open-sans-regular';

%main-menu {
	@include font-size(1.125,1.5);
	font-family:OpenSans-bold, sans-serif;
	font-weight:bold;
	color:$white;
} 

%header-tagline {
	@include font-size(1.375,1.5);
	font-family:OpenSans-bold, sans-serif;
	font-weight:bold;
	color:$white;
} 

%headline {
	@include font-size(3.25,3.75);
	font-family:'komika',sans-serif;
	color:$red;
}

%section-title {
	@include font-size(2.5,3);
	@include text-shadow(4px 4px rbga(0,0,0,.5));

	font-family:'komika',sans-serif;
	color:$white;
}

.section-title {
	@extend %section-title;
	display:block;
	background:url(../../img/heading.png) repeat-x;
} 

%feature-title {
	@include font-size(2.4375,3);
	@include text-shadow(4px 4px rbga(0,0,0,.5));

	font-family:'komika',sans-serif;
	color:$white;
}

%feature-tagline {
	@include font-size(1.3125,1.5);
	@include text-shadow(4px 4px rbga(0,0,0,.5));

	font-family:'komika',sans-serif;
	color:$white;
}

%item-title {
	@include font-size(1,1);
	font-family:komika,sans-serif;
	color:$white;
} 

%body-text {
	@include font-size(.875,1);
	font-family:OpenSans-regular,sans-serif;
	color:$white;
} 

