@import '../vendors/komika-title/_kamika-title';
@import '../vendors/opensans_bold/_open-sans-bold';
@import '../vendors/opensans_regular/_open-sans-regular';

/*  

font-family: 'komika_title_-_paintregular';


font-family:'Open Sans', sans-serif;


%font1 {
	@include font-size($sizeValue,$heightValue);
	font-family:;
	font-weight:;
	color:inherit;
} 

%font2 {
	@include font-size($sizeValue,$heightValue);
	font-family:;
	font-weight:;
	color:inherit;
} 

%font3 {
	@include font-size($sizeValue,$heightValue);
	font-family:;
	font-weight:;
	color:inherit;
} 

%font4 {
	@include font-size($sizeValue,$heightValue);
	font-family:;
	font-weight:;
	color:inherit;
} 

%font5 {
	@include font-size($sizeValue,$heightValue);
	font-family:;
	font-weight:;
	color:inherit;
} 

*/
