.inner {
	max-width:940px;
	margin:0 auto;
}

section {
	width:100%;
	display:inline-block;
	padding:4.375em 0;
	@include box-shadow(inset 2px 0px 0px 7px $black-transparent);
}
.section-header {
	display:inline-block;
	width:100%;
	background:url(../../img/heading.png) repeat-x left center;

	@include cbp(942px) {
			display:block;
			width:75%;
			margin:0 auto;
		}

	@include cbp(510px) {
			background:none;


		}
}