.primary-header {
	position:fixed;
	width:100%;
	padding:.5em 0;

	background-color:$black-transparent;
	z-index: 10;
	text-align: center;
}

.main-menu {

	width:640px;
	margin:0 auto;

	@include cbp(640px) {
		width:100%;			
	}

	

	& a {
		display:inline-block;
		margin:0 1em;
		

		@extend %main-menu;
		color:$white;
		text-transform: uppercase;
		@include transition(all .2s);
		&:hover {
			color:$yellow;
		}
	
	@include cbp(640px) {
		@include font-size(.9,1.25);
		margin:0 .5em;
	}	

	@include cbp(335px) {
		@include font-size(.875,1.25);
		margin:0 .25em;
	}	
	
	

	}

}

.main-menu a:nth-of-type(4) {
	display:inline-block;
	@include cbp(640px) {
		display:none;
	}	

}

