.network-info {
		position: relative;
		border-top: 7px solid $black-transparent;
		border-bottom: 7px solid $black-transparent; 
		box-shadow: none!important;
		text-align: center;
}

.kn-logo {
	margin:0 auto;
	position:absolute; top:-40px; left:43%;
}

.network-title {
	@extend %header-tagline;
}

.network-info p {
	text-align: left;
	@extend %body-text;
	margin:0 5em;
	-moz-column-count: 2;
       
       -webkit-column-count: 2;
       

     @include cbp(775px) {
     	-moz-column-count: 1;
     	-moz-column-gap: 0;
       	-webkit-column-count: 1;
       	-webkit-column-gap: 0;
       	text-align: center;
     }

	 @include cbp(510px) {
     	margin:0 2em;
     }


}

.visit-us {

	margin:0 17em;

	@include cbp(870px) {
	     	margin: 0 3em;
     }

	& span {
		@extend %body-text;

		&:nth-of-type(1) {
			float:left;

			@include cbp(870px) {
	     	float:none;
	     	display:block;
	     	margin-bottom: .5em;
     }
		}
		&:nth-of-type(2) {
			float:right;

			@include cbp(870px) {
	     	float:none;
	     	display:block;
     }
		}
	}
}

.vu-title {
	@extend %header-tagline;
}

.disclaimer {
 
	text-align: center;
	
	& img {
		display:inline-block;
	}
}

.creative-commons {
	@extend %body-text;
}


