.sign-up {
	background:url(../../img/texture-green.png) repeat left top;
	background-color:$blue;
}

.sign-up .section-title {
	background:url(../../img/texture-blue.png) repeat left top;
	background-color:$blue;
	display:inline-block;
	padding-right:1.7em;

	@include cbp(942px) {
			display:block;
			margin:0 auto 1em auto;
			width:350px;
			text-align: center;
			padding:0;
			
		}
	

		@include cbp(500px) {
			width:240px;
		}
}

