.sign-up-form {
	float:left;
	width:23.9375em;
	margin-top: 3em;

	@include cbp(942px) {
		width:75%;
		float:none;
		margin:3em auto 0 auto;
	}

	@include cbp(700px) {
		margin-bottom: 3em;
	}
}

.sign-up form {
	width:100%;
}

input[type="text"] {
	@extend %item-title;
	position:relative;
	width:100%;
	display:block;
	padding:1em 0 .25em .55em;
	margin-bottom: 1em;

	border:none;

	background-color:$red;
	@include border-radius(5px);


	color:$yellow;

}

::-webkit-input-placeholder {
   color:$white;
}

:-moz-placeholder { /* Firefox 18- */
   color:$white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color:$white;  
}

:-ms-input-placeholder {  
   color:$white;  
}


.sign-up form a {
	@extend %item-title;	
	display:inline-block;
	background-color:$red;
	position:relative;
	z-index: 1;
	padding:1.05em .5em;
	margin-bottom: 1em;

	@include border-radius(5px);
	@include cbp(500px) {
		width:100%;
	}

	& .dropdown-select {
		position:absolute;
		right:0;top:0;
	}
	
	&:hover .dropdown {
		opacity:1;

		@include cbp(942px) {
			opacity:0;
			
		}
	
}

}

.team-color {width:63.5%;}
.gender {width:35%;}

.dropdown {
	position:absolute; bottom:-55px;left:0;
	width:100%;
	opacity:0;
	background-color:$yellow;
	@include box-shadow(0 3px 1px 2px $black-transparent);
	@include border-radius(5px);
	@include transition(all .2s);

	@include cbp(942px) {
			display:none;
			
		}
}

.gender .dropdown {
	bottom:-69px !important; left:0px;


}

.dropdown div[class^="dd"] {
	width:32px; height:32px;
	display:inline-block;
	margin:.75em;
	@include border-radius(5px);
	@include transition(all .2s);

	&:hover {
		position:relative;
		top:-4px;
	}
}

.dd-blue {
	background-color:$blue;
}

.dd-green {
	background-color: $green;
}

.dd-pink {
	background-color:$red;
}

.dd-purple {
	background-color:$magenta;
}

.dropdown > img {
	position:relative;
	display:inline-block;
	margin:.75em 1.25em;

	@include transition(all .2s);

	&:hover {
		position:relative;
		top:-4px;
	}
}

.submit-btn-wrap {
	display:inline-block;
	position:relative;
	width:50%;
	margin:2em 5em;

	@include rotate(-15deg);

	@include cbp(942px) {
		margin:2em 27%;
	}

	

	& img {
	}
}

.sign-up input[type=submit] {
	@extend %feature-tagline;
	
	position:absolute; top:45%; left:5%;


	border:none;
	background-color:transparent;
	z-index: 10;

@include cbp(942px) {
@include font-size(2,2.25);
left:12%;
	}

	@include cbp(700px) {
		@include font-size(1.5,2);
		left:8%;
	}

	@include cbp(500px) {
		@include font-size(1.2,1.75);
		left:2%;
	}

}


