.sign-up {
	background:url(../../img/texture-green.png) repeat left top;
	background-color:$blue;
}

.sign-up .section-title {
	background:url(../../img/texture-blue.png) repeat left top;
	background-color:$blue;
	display:inline-block;
	padding-right:1.7em;
}

